# Ignore data and virtual environment
data/
__pycache__/

# Ignore model files and images
*.png
stress_sleep_model.h5
stress_sleep_model.keras

# Ignore TensorFlow folders and files
tf/
checkpoint/
*.ckpt
*.pb
*.tflite
*.log

# Ignore Jupyter and Python artifacts
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd

# Ignore OS files
.DS_Store
Thumbs.db
venv/
